In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

#regeximport re
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [3]:
#create a dataframe from csv file

cwd = os.getcwd()

df = pd.read_csv(cwd+"/BA_reviews.csv", index_col=0)

In [4]:
#create a dataframe from csv file

cwd = os.getcwd()

df = pd.read_csv(cwd+"/BA_reviews.csv", index_col=0)

In [5]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | Very inconsiderate PA annou...,5,25th April 2024,United Kingdom
1,"✅ Trip Verified | Absolutely terrible, lost m...",1,22nd April 2024,United Kingdom
2,✅ Trip Verified | We booked premium economy r...,1,20th April 2024,United States
3,✅ Trip Verified | We chose Rotterdam and Lond...,1,12th April 2024,Netherlands
4,✅ Trip Verified | The entire booking and ticke...,6,10th April 2024,United States

In [6]:
df['verified'] = df.reviews.str.contains("Trip Verified")

In [7]:
df['verified']

0        True
1        True
2        True
3        True
4        True
        ...
6995    False
6996     True
6997    False
6998     True
6999     True
Name: verified, Length: 7000, dtype: bool

##Cleaning Reviews##

I extract the colum of reviews into a new seperate dataframe and clean it for my analyis

In [8]:
import re
#for lemmatization of words we will use nltk libary
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()

reviews_data = df.reviews.str.strip("✅ Trip Verified |")

#create an empty list to collect cleaned data corpus
corpus =[]

#loop through each review, remove punctuations, small case it, join it and add it to corpus
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

In [9]:
# add the corpus to the original dataframe

df['corpus'] = corpus

In [10]:

df.head()

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | Very inconsiderate PA annou...,5,25th April 2024,United Kingdom,True,inconsiderate pa announcement made purser appe...
1,"✅ Trip Verified | Absolutely terrible, lost m...",1,22nd April 2024,United Kingdom,True,absolutely terrible lost luggage flight delive...
2,✅ Trip Verified | We booked premium economy r...,1,20th April 2024,United States,True,booked premium economy round trip phoenix zuri...
3,✅ Trip Verified | We chose Rotterdam and Lond...,1,12th April 2024,Netherlands,True,chose rotterdam london city airport convenienc...
4,✅ Trip Verified | The entire booking and ticke...,6,10th April 2024,United States,True,entire booking ticketing experience stressful ...

Cleaning/Fromat date

In [11]:

df.dtypes

reviews     object
stars        int64
date        object
country     object
verified      bool
corpus      object
dtype: object

In [12]:
# convert the date to datetime format

df.date = pd.to_datetime(df.date)

In [13]:
df.date.head()

0   2024-04-25
1   2024-04-22
2   2024-04-20
3   2024-04-12
4   2024-04-10
Name: date, dtype: datetime64[ns]

Cleaning ratings with stars

In [14]:
#check for unique values
df.stars.unique()

array([ 5,  1,  6, 10,  7,  3,  4,  8,  9,  2], dtype=int64)

In [15]:
df.stars.value_counts()

1     2218
3     1111
8      763
6      622
9      484
10     416
2      414
7      348
5      347
4      277
Name: stars, dtype: int64

In [16]:
# drop the rows where the value of ratings is None
df.drop(df[df.stars == "None"].index, axis=0, inplace=True)

In [17]:
df.stars.unique()

array([ 5,  1,  6, 10,  7,  3,  4,  8,  9,  2], dtype=int64)

In [18]:
df.isnull().value_counts()

reviews  stars  date   country  verified  corpus
False    False  False  False    False     False     7000
dtype: int64

In [19]:
df.country.isnull().value_counts()

False    7000
Name: country, dtype: int64

In [20]:
df.shape

(7000, 6)

In [21]:
#resetting the index
df.reset_index(drop=True)

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | Very inconsiderate PA annou...,5,2024-04-25,United Kingdom,True,inconsiderate pa announcement made purser appe...
1,"✅ Trip Verified | Absolutely terrible, lost m...",1,2024-04-22,United Kingdom,True,absolutely terrible lost luggage flight delive...
2,✅ Trip Verified | We booked premium economy r...,1,2024-04-20,United States,True,booked premium economy round trip phoenix zuri...
3,✅ Trip Verified | We chose Rotterdam and Lond...,1,2024-04-12,Netherlands,True,chose rotterdam london city airport convenienc...
4,✅ Trip Verified | The entire booking and ticke...,6,2024-04-10,United States,True,entire booking ticketing experience stressful ...
...,...,...,...,...,...,...
6995,"Not Verified | Angry, disappointed, and unsat...",1,2023-11-05,Italy,False,verified angry disappointed unsatisfied route ...
6996,"✅ Trip Verified | As an infrequent flyer, Bri...",3,2023-11-05,United Kingdom,True,infrequent flyer british airway always first c...
6997,"Not Verified | A totally unremarkable flight,...",1,2023-11-04,Ireland,False,verified totally unremarkable flight time comf...
6998,✅ Trip Verified | 1. Ground crew in Heathrow...,1,2023-10-31,United States,True,ground crew heathrow left passenger luggage ba...
6999,✅ Trip Verified | London Heathrow to Gibralta...,3,2023-10-28,United Kingdom,True,london heathrow gibraltar th october shall sta...

In [ ]:
# export the cleaned data

df.to_csv(cwd + "/cleaned-BA-reviews.csv")